Repository RoboLoCo-5338/Competition_Bot_2025, pull requests merged in 2025-06, with the labels that each got.

#180 Make Command to Run All Sysid Routines of a Mechanism
  src/main/java/frc/robot/subsystems/SysIDSubsystem.java
Labels: enhancement, good first issue, priority: medium, topic: mechanisms, topic: logging, requires bot: none

#182 Make IO Files Classes
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/SimMechanism.java
  src/main/java/frc/robot/subsystems/arm/ArmIO.java
  src/main/java/frc/robot/subsystems/arm/ArmIOSim.java
  src/main/java/frc/robot/subsystems/arm/ArmIOSpark.java
  src/main/java/frc/robot/subsystems/drive/GyroIO.java
  src/main/java/frc/robot/subsystems/drive/GyroIOPigeon2.java
  src/main/java/frc/robot/subsystems/drive/ModuleIO.java
  src/main/java/frc/robot/subsystems/drive/ModuleIOSim.java
  src/main/java/frc/robot/subsystems/drive/ModuleIOTalonFX.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorIOSim.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorIOTalonFX.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorIO.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorIOSim.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffectorIOTalonFX.java
  src/main/java/frc/robot/subsystems/led/AddressableLEDIO.java
  src/main/java/frc/robot/subsystems/led/LEDIO.java
  src/main/java/frc/robot/subsystems/led/LEDIOSim.java
  src/main/java/frc/robot/subsystems/vision/Vision.java
  src/main/java/frc/robot/subsystems/vision/VisionIO.java
  src/main/java/frc/robot/subsystems/vision/VisionIOPhotonVision.java
Labels: priority: high, refactoring, topic: mechanisms, topic: drivetrain, requires bot: none

#210 Added .withName Decorator to All Commands
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveCommands.java
  src/main/java/frc/robot/commands/PresetCommands.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/drive/Drive.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/endeffector/EndEffector.java
  src/main/java/frc/robot/subsystems/led/LED.java
Labels: enhancement, priority: none, topic: mechanisms, topic: logging, topic: controls, topic: drivetrain, requires bot: none
